<h2 mat-dialog-title>Add Information</h2>
<mat-dialog-content class="mat-typography formlist">
    <form [formGroup]="userForm" novalidate>
        <div class="row">
            <div class="col-md-6 mb-2">
                <input type="text" placeholder="Store Name" formControlName="storeName" required>
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" placeholder="Store Category" formControlName="storeCategory" required>
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" placeholder="Contact No" formControlName="contactNo" required>
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" placeholder="Store Address" formControlName="storeAddress" required>
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" placeholder="Store Locations" formControlName="storeLocations" required>
            </div>
            <div class="col-md-6 mb-2">
                <input type="file" placeholder="Product Images" formControlName="storeImages" required>
            </div>
            
            <div class="col-md-12 mb-2">
                <textarea placeholder="Store Discriptions" formControlName="storeDiscription"></textarea>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!userForm.valid" [mat-dialog-close]="true" cdkFocusInitial
        (click)="onSubmit()">Create</button>
</mat-dialog-actions>