<section class="sidebar">
    <ul>
      <li><a routerLink="/dashboard"><button mat-icon-button><i class="fa-solid fa-gauge"></i></button><span class="tooltips text-white">Dashboard</span></a></li>
      <li><a href="javascript:void(0)"><button mat-icon-button><i class="fa-solid fa-circle-plus"></i></button></a>
        <div class="submenu bg-white">
          <li><a routerLink="/forms-list"><i class="fa-solid fa-border-none mr-2"></i> Forms </a></li>
          <li><a routerLink="/create-forms"><i class="fa-solid fa-circle-plus mr-2"></i> Create Form </a></li>
        </div>
    </li>




      <li><a href="#"><button mat-icon-button><i class="fa-solid fa-gauge"></i></button></a>
          <div class="submenu bg-white">
            <li><a href="#"><span class="material-symbols-outlined">book_online</span> Web Development </a></li>
            <li><a href="#"><span class="material-symbols-outlined">book_online</span> Mobile App </a></li>
            <li><a href="#"><span class="material-symbols-outlined">book_online</span> Business </a></li>
          </div>
      </li>
    </ul>
</section>