<h2 mat-dialog-title>File Upload</h2>
<mat-dialog-content class="mat-typography">
    <input type="file" (change)="fileUpload($event)" accept="image/*"/>
    <table class="table" *ngIf="allUploadedImage">
        <thead class="thead-light">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let data of allUploadedImage; let i = index;'>
            <td><img [src]="data" width="120px"></td>
            <td><a [href]="data" download>Download</a>, delete</td>
          </tr>
        </tbody>
      </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>