<section class="p-5">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title><span class="h6">Product List</span></mat-card-title>
            <button mat-flat-button color="primary" (click)="addProduct()">Add Products</button>
        </mat-card-title-group>
        <hr>
        <mat-card-content>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sr No</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Product Category</th>
                  <th scope="col">Product Brand</th>
                  <th scope="col">Product Price</th>
                  <th scope="col">Product Discount Price</th>
                  <th scope="col">Product Images</th>
                  <th scope="col">Product Available</th>
                  <th scope="col">productDiscription</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of Products; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ data.productName }}</td>
                  <td>{{ data.productCategory }}</td>
                  <td>{{ data.productBrand }}</td>
                  <td>{{ data.productPrice }}</td>
                  <td>{{ data.ProductdiscountPrice }}</td>
                  <td>{{ data.productImages }}</td>
                  <td>{{ data.productStock }}</td>
                  <td>{{ data.productDiscription }}</td>
                  <td>
                    <button mat-icon-button routerLink="/edit-product/{{data.id}}" color="primary"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="removeUser(data)"color="warn"><mat-icon>delete</mat-icon></button>
                  </td>
                </tr>
              </tbody>
            </table>

        </mat-card-content>
    </mat-card>
</section>