<section class="p-5">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Product List</mat-card-title>
            <button mat-flat-button color="primary" (click)="openDialog()">Add Products</button>
        </mat-card-title-group>
        <hr>
        <mat-card-content>
            <table class="w-100" *ngIf="products != ''">
                <tr>
                    <th>Product Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let data of products">
                    <td>{{data.id}}</td>
                    <td>{{data.fullName}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.mobileNumber}}</td>
                    <td>
                        <button mat-icon-button color="primary" routerLink="/edit-student/{{ data.id }}"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button color="accent" (click)="deleteStudent(data)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</section>