<section class="pagetitle">
    <div class="d-flex justify-content-between">
        <h3 class="m-0">Blogs</h3>
        <button mat-flat-button color="primary" (click)="addForm()">Create Blogs</button>
    </div>
</section>

<section class="bg-white p-3">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let data of columnNames">{{ data }}</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of dataSource; let i = index;'>
                <td *ngFor='let key of columnNames'>{{item[key]}}</td>
                <td>
                    <button mat-icon-button color="accent" (click)="update(item)"><mat-icon aria-label="Edit">edit</mat-icon></button>
                    <button mat-icon-button color="accent" (click)="deletePost(item, item.id)"><mat-icon aria-label="Delete">delete</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</section>