.fileUploading {border:4px dotted #ccc;
    input {width:100px;}
}

.pagetitle {
    input {border:1px solid #ccc;padding:5px 10px;margin-left:10px;}
}
.imagelist {display:flex;
    .imagebox {width:130px;height:130px;border:1px solid #eee;overflow:hidden;display:flex;margin:5px;align-items:center;
        img {width:100%;}
    }
    .thumbimg { width:80px;height:80px;overflow:hidden;display:flex;align-items:center;border:1px solid #eee;
        img {width:100%;}
    }
}