<section class="p-5 formlist">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title><span class="h6">Edit Product</span></mat-card-title>
            <button mat-flat-button color="primary" (click)="goBack()">Go Back</button>
        </mat-card-title-group>
        <hr>
        <mat-card-content>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-2"><input type="text" placeholder="Product Name" formControlName="productName" required></div>
                    <div class="col-md-6 mb-2"><input type="text" placeholder="Product Category" formControlName="productCategory" required></div>
                    <div class="col-md-6 mb-2"><input type="text" placeholder="Product Brand" formControlName="productBrand" required></div>
                    <div class="col-md-6 mb-2"><input type="text" placeholder="Product Price" formControlName="productPrice" required></div>
                    <div class="col-md-6 mb-2"><input type="text" placeholder="Product Discount Price" formControlName="ProductdiscountPrice" required></div>
                    <div class="col-md-6 mb-2"><input type="file" placeholder="Product Images" formControlName="productImages" required></div>
                    <div class="col-md-6 mb-2">
                        <select formControlName="productStock">
                            <option>Product Available / Not Available</option>
                            <option>Available</option>
                            <option>Not Available</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-2"><textarea placeholder="Add Discriptions" formControlName="productDiscription"></textarea></div>
                </div>
               
                <button mat-flat-button color="primary">Update</button>
            </form>
        </mat-card-content>
    </mat-card>
</section>