<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="blogForms">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Blog Title</mat-label>
                    <input matInput formControlName="blog_title">
                    <small class="text-danger" *ngIf="blogForms.controls['blog_title'].touched && blogForms.controls['blog_title'].errors">Blog Title Is Required</small>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" multiple placeholder="Favorite food">
                        <mat-option (onSelectionChange)="change($event)" [value]="data" *ngFor="let data of category">{{data}}</mat-option>
                    </mat-select>
                    <small class="text-danger" *ngIf="blogForms.controls['category'].touched && blogForms.controls['category'].errors">Blog Category Is Required</small>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <button mat-raised-button color="primary" formControlName="blog_image" (click)="fileupload()">Image Upload</button>
                <!-- <input type="file" (change)="onFileSelected($event)" formControlName="blog_image" accept="image/*" multiple /> -->
                <small class="text-danger" *ngIf="blogForms.controls['blog_image'].touched && blogForms.controls['blog_image'].errors">Image Is Required</small>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Meta Title</mat-label>
                    <input matInput formControlName="mta_title">
                    <ng-container *ngIf="blogForms.controls['mta_title'].invalid && (blogForms.controls['mta_title'].dirty || blogForms.controls['mta_title'].touched)">
                        <small class="text-danger" *ngIf="blogForms.controls['mta_title'].hasError('required')">Meta Title is required.</small>
                        <small class="text-danger" *ngIf="blogForms.controls['mta_title'].hasError('minlength')">Meta Title must be 20 characters.</small>
                        <small class="text-danger" *ngIf="blogForms.controls['mta_title'].hasError('maxLength')">Meta Title less then 60 characters.</small>
                    </ng-container>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Meta Description</mat-label>
                    <input matInput formControlName="mta_desc">
                    <small class="text-danger" *ngIf="blogForms.controls['mta_desc'].touched && blogForms.controls['mta_desc'].errors">Meta Description Is Required</small>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Blog Description</mat-label>
                    <textarea matInput formControlName="blog_desc"></textarea>
                    <small class="text-danger" *ngIf="blogForms.controls['blog_desc'].touched && blogForms.controls['blog_desc'].errors">Blog Description Is Required</small>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="blogForms.invalid" (click)="addPost()">{{data ? 'Update': 'Save'}}</button>
</mat-dialog-actions>