<section class="pagetitle bg-white">
    <div class="d-flex align-items-center">
        <button mat-stroked-button color="primary"><mat-icon>add_circle</mat-icon> <small class="ms-2">Add New Post</small></button>
    </div>
</section>


<section class="bg-white mx-3 allpost">
    <section class="bg-white">
        <table class="table table-striped border">
            <thead *ngIf="columnData">
                <tr class="text-left">
                    <th><mat-checkbox color="primary" class="ms-2"></mat-checkbox></th>
                    <th *ngFor="let data of columnData">{{ data | titlecase}}</th>
                </tr>
            </thead>
            <tbody *ngIf="postData">
                <tr *ngFor='let item of postData; let i = index;'>
                    <td><mat-checkbox color="primary" class="ms-2"></mat-checkbox></td>
                    <td *ngFor='let key of columnData'><a href="javascript:void(0)">{{item[key]}}</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <p *ngIf="postData">{{'Total Items:' + postData.length}}</p>
</section>