<section class="pagetitle bg-white">
    <div class="d-flex align-items-center">
        <h4 class="m-0 me-2">File UPload</h4>
    </div>
</section>


<section class="text-center m-4">
    <div class="fileUploading p-5">
        <h4 class="m-0">Drop files to upload</h4>
        <small>Or</small>
        <p><input type="file" multiple></p>
        <small>Maximum upload file size: 40 MB.</small>
    </div>
</section>


<input type="file" (change)="fileUpload($event)" accept="image/*"/>
    <table class="table" *ngIf="allUploadedImage">
        <thead class="thead-light">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let data of allUploadedImage; let i = index;'>
            <td><img [src]="data" width="120px"></td>
            <td><a [href]="data" download>Download</a>, delete</td>
          </tr>
        </tbody>
      </table>
