.sidebar {width:70px;background:#eee;
    ul {
        li {
            a {color:#333;display:block;text-align:center;padding:10px;border-left:4px solid transparent;
                &:hover {background:#eee;border-color:rgb(165, 165, 255);
                    .tooltips {transform:scale(1);}
                }
            }
            .tooltips {position:absolute;left:120%;min-width:85px;margin-top:5px;background:#3e416d;font-size:11px;border-radius:5px;padding:3px 10px;transform:scale(0);transition:opacity .2s,transform .2s,-webkit-transform .2s;
                &::before {content:'';position:absolute;left:-4px;top:8px;width:0px;height:0px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #3e416d;}
            }
            .submenu {position:absolute;left:100%;top:0;height:100%;box-shadow:0 3.75pt 15px rgb(0 0 0 / 8%);min-width:250px;left:-400%;transition:all .34s ease-in;z-index:-5;
                li {
                    a {text-align:left;color:#83839c;transition:all .3s ease-out;background:#fff;border-left:4px solid transparent;
                        &:hover {background:rgba(66,133,244,.04);padding-left:30px;color:#007791;border-color:rgb(165, 165, 255);
                        }
                    }
                }
            }
            &:hover {
                .submenu {left:102%;}
                a {background:rgba(66,133,244,.08);border-color:rgb(165, 165, 255);}
            }
            .active {background:rgba(66,133,244,.08);border-left:4px solid rgb(165, 165, 255);}
        }
  
    }
  }