<section class="featuredproduct py-5">
    <div class="container-fluid">
        <ng-content id="first"></ng-content>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="BEST SELLERS">
                <div class="row mx-0 py-5">
                    <div class="col-md-2 mb-4" *ngFor="let data of products">
                        <mat-card class="p-0">
                            <div class="w-100 p-3 bg-light productimg position-relative">
                                <img [src]="data.images" class="w-100">
                                <div class="addtocart"><button mat-button>Add To Cart</button></div>
                            </div>
                            <mat-card-content class="p-3 m-0 pb-0">
                                <small routerLink="/category">{{data.category.name}}</small>
                                <h4 class="m-0" [routerLink]="['/product', data.id]">{{data.title}}</h4>
                            </mat-card-content>
                            <mat-card-actions class="d-flex align-items-center justify-content-between p-3">
                                <button class="buynow" mat-button [routerLink]="['/product', data.id]">Buy &nbsp; {{data.price | currency: 'INR'}}</button>
                                <small class="mx-3"><del>{{data.price | currency: 'INR'}}</del></small>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="FEATURED">Content 2</mat-tab>
            <mat-tab label="HOT SELL">Content 3</mat-tab>
            <mat-tab label="TREND">Content 4</mat-tab>
        </mat-tab-group>

        
    </div>
</section>