<section class="products py-5">
    <div class="container-fluid">
        <div class="pagetitle text-center">
            <h6>SPECIAL OFFER</h6>
            <h2>TOP COLLECTION 2020</h2>
        </div>
        <div class="row">
            <div class="col-md-2 mb-3 text-center" *ngFor="let data of products">
                <div class="productcatitem bg-white">
                    <img [src]="data.image" [routerLink]="['/product', data.id]">
                    <h4 [routerLink]="['/product', data.id]">{{data.title}}</h4>
                    <div class="d-flex align-items-center justify-content-between">
                        <button mat-button color="primary" [routerLink]="['/product', data.id]">Buy &nbsp; {{data.price | currency: 'INR'}}</button>
                        <button mat-button><small>Add to cart</small></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>