<header class="d-flex justify-content-between">
    <button mat-icon-button (click)="menuToggle.emit(true)" class="text-light"><mat-icon>sort</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" *ngIf="authService.UserData as user"><img class="rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}" width="25" height="25"></button>
</header>

<mat-menu #beforeMenu="matMenu" xPosition="before">
    <ng-container *ngIf="authService.UserData as user">
        <button mat-menu-item>Name:  <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></button>
        <button mat-menu-item>User ID: <strong>{{user.uid}}</strong></button>
        <button mat-menu-item>Email: <strong>{{user.email}}</strong></button>
        <button mat-menu-item>Email Verified: <strong>{{user.emailVerified}}</strong></button>
    </ng-container>
    <button mat-menu-item (click)="authService.Logout()">Logout</button>
  </mat-menu>
  