<!-- <section class="login" style="background: url(assets/img/login.jpg) center center;">
    <div class="loginbox text-center">
        <form>
            <h2 class="text-uppercase">Reset Password</h2>
            <p>Please enter your email address to request a password reset.</p>
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email Address" #passwordResetEmail required>
            </mat-form-field>
            <button mat-raised-button color="primary" class="w-100" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
            <button mat-raised-button class="w-100 my-3" (click)="authService.GoogleAuth()">Log in with Google</button>
        </form>
        <span class="text-muted">Go back to ? <a class="text-dark" routerLink="/signin">Log In</a></span>
    </div>
</section> -->



<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/signin">Log In</span></span>
    </div>
  </div>
</div>