<section class="pagetitle sticky bg-white">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="m-0 me-4">Add New:</h3>
        <div>
            <button mat-flat-button color="primary" class="mx-2"><small>Publish</small></button>
            <button mat-icon-button (click)="drawer.toggle()"><mat-icon>settings</mat-icon></button>
        </div>
    </div>
</section>



<mat-drawer-container autosize>
    <mat-drawer #drawer position="end" mode="side" opened>
      <app-create-options></app-create-options>
    </mat-drawer>

  
  </mat-drawer-container>
  