<section class="pageoptions">

    <mat-accordion>

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>Summary</mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>Categories</mat-expansion-panel-header>
          <section [formGroup]="categoryForm">
            <p *ngFor="let data of CategoryListData">
                <mat-checkbox [formControlName]="data.name" (change)="checkCategory(data, $event.checked)" color="primary">{{data.name}}</mat-checkbox>
            </p>
          </section>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>Tags</mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>Featured Image</mat-expansion-panel-header>
            <input type="file">
          </mat-expansion-panel>


        
      </mat-accordion>
      


</section>