<mat-tab-group animationDuration="0ms">
    <mat-tab label="MY Cart">
        <section class="p-5 productlist">
            <mat-card>
              <mat-card-title-group>
                <mat-card-title><span class="h6">Card List</span></mat-card-title>
                <button mat-flat-button color="primary" routerLink="/">Continue Shopping</button>
              </mat-card-title-group>
              <hr>
              <mat-card-content>
                <table class="table m-0">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of items">
                            <td><img [src]="data.image" width="50"></td>
                            <td>{{data.title}}</td>
                            <td>{{data.price | currency: 'INR'}}</td>
                            <td><input type="number" value="0"></td>
                            <td>176.00</td>
                            <td><button mat-icon-button color="primary"><mat-icon>close</mat-icon></button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" align="right">Grand total: $376.00</td>
                        </tr>
                    </tfoot>
                </table>
              </mat-card-content>
            </mat-card>


            
          </section>
    </mat-tab>
    <mat-tab label="Checkout">
        <app-checkout></app-checkout>
    </mat-tab>
</mat-tab-group>
