<section class="pagetitle">
    <div class="d-flex justify-content-between">
        <h3 class="m-0">Create Forms</h3>
        <button mat-flat-button color="primary" routerLink="../form-list">Form List</button>
    </div>
</section>





<section class="bg-light py-3">
    <div class="container-fluid">
        <div class="row" cdkDropListGroup>
            <div class="col-md-1">
                <mat-card>
                    <div class="row" cdkDropList [cdkDropListData]="iconFields">
                        <div class="col-lg-12" *ngFor="let item of iconFields; let i = index" cdkDrag>
                            <mat-icon>{{ item.dndIcon }}</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-11">
                <mat-card>
                    <div class="row" cdkDropList [cdkDropListData]="formList" (cdkDropListDropped)="drop($event)">
                        <div class="col-lg-12" *ngFor="let item of formList; let i = index" cdkDrag>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <mat-icon>{{ item.dndIcon }}</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>