<section class="productcategory pb-5">
    <div class="container-fluid">
        <swiper [slidesPerView]="5" [spaceBetween]="30" [loop]="true" [pagination]="false" [navigation]="false" class="mySwiper">
            <ng-template swiperSlide *ngFor="let data of category">
                <div class="productcatitem bg-white text-center" [routerLink]="['/category', data.name]">
                    <div class="catimg"><img src={{data.image}}></div>
                    <div class="catinfo bg-white py-3"><h4 class="m-0">{{data.name}}</h4></div>
                </div>
            </ng-template>
        </swiper>
    </div>
</section>