<section class="productdetails py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bg-white p-5"><img src="{{data.image}}"></div>
            </div>
            <div class="col-md-8 px-5">
                <div class="breadcrumb"><a routerLink="/">Home</a><a routerLink="/product">{{data.category}}</a><span>{{data.title}}</span></div>
                <div class="productinfo">
                    <h1>{{data.title}}</h1>
                    <p>{{data.description}}</p>
                    <div class="mb-4">
                        <button mat-button><mat-icon>star</mat-icon> {{data.rating.rate}}</button>
                        <small class="ms-2">{{data.rating.count}} Ratings & 331 Reviews</small>
                    </div>
                    <div>
                        <button mat-flat-button color="primary">Buy Now &nbsp; {{data.price | currency: 'INR'}}</button>
                        <button mat-button class="ms-3">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>