<section class="login" style="background: url(assets/img/login.jpg) center center;">
    <div class="loginbox text-center">
        <form>
            <h2 class="text-uppercase">{{issignin ? 'Sign In' : 'Sign Up'}}</h2>

            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email" #userName required>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" #userPassword required>
            </mat-form-field>



            <button mat-raised-button color="primary" class="w-100" (click)="authService.SignIn(userName.value, userPassword.value)">{{issignin ? 'Login' : 'Sign Up'}}</button>

            <button mat-raised-button class="w-100 my-3" (click)="authService.GoogleAuth()">Log in with Google</button>
            <div class="text-end mt-3" *ngIf="issignin"><a class="text-muted" routerLink="/forgot-password">Forgotten Password?</a></div>
        </form>
        <span class="text-muted">{{issignin ? "Don't have an account?" : 'Already have an account?'}}
            <a href="javascript:void(0)" class="text-dark" (click)="submitForm()">{{issignin ? 'Sign Up' : 'Login'}}</a>
        </span>
    </div>
</section>