<section class="banner py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mb-4">
                <swiper [slidesPerView]="'auto'" [spaceBetween]="0" [loop]="true" [pagination]="{clickable: true}"
                    [navigation]="false" class="mySwiper">
                    <ng-template swiperSlide *ngFor="let data of banner">
                        <div class="slideimg"><img src="assets/img/banner/{{data.img}}"></div>
                        <div class="content d-flex align-items-center">
                            <div class="text-box">
                                <h2>{{data.title}}</h2>
                                <h3>{{data.subtitle}}</h3>
                                <button mat-flat-button color="primary" class="py-2 px-5"><h3 class="m-0 text-white">Shop now</h3></button>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
            <div class="col-md-4">
                <div class="catbanner d-flex justify-content-between mb-4">
                    <div class="catimg w-50"><img src="assets/img/products/tablet_bn.png"></div>
                    <div class="text-box w-50 px-2">
                        <h2>Tablets, Smartphones and more</h2>
                        <p>Sale up to 30%.</p>
                        <a href="#">Shop now</a>
                    </div>
                </div>
                <div class="catbanner d-flex justify-content-between mb-3">
                    <div class="catimg w-50"><img src="assets/img/products/camera_bn.png"></div>
                    <div class="text-box w-50 px-2">
                        <h2>NEW CAMERAS COLLECTION</h2>
                        <p>Sale up to 30%.</p>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>