<section class="bg-light py-3">
    <div class="container-fluid">
        <div class="row" cdkDropListGroup>
            <div class="col-md-4">
                <mat-card>
                    <mat-list role="list" cdkDropList [cdkDropListData]="todo">
                        <mat-list-item role="listitem" *ngFor="let item of todo" cdkDrag>{{item}}</mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
            <div class="col-md-8">
                <mat-card>
                    <mat-list role="list" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
                        <mat-list-item role="listitem" *ngFor="let item of done" cdkDrag>{{item}}</mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
        </div>
    </div>
</section>